.input-height {
    // Most likely can to this another way but this is a quick fix
    height: 56px;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 100;
}
.modal-width {
    width: 400px;
}
